<div class="tasks-table-header">
  <div class="tasks-table-header-title">
    My Schedule
  </div>
  <div class="tasks-table-header-date-button">
    <input type="date" value="{{ date }}">
  </div>
</div>
