<div class="tasks-table">
  {% include "/tasksRoute/tasksTasksTableHeader.jinja" %}
  {% include "/tasksRoute/tasksTasksTableCalendar.jinja" %}
  {% include "/tasksRoute/tasksTasksTableTimeContainer.jinja" %}
</div>

<script src="{{ url_for('static', filename='/js/tasksRoute.js') }}"></script>


