:root {
  --border-radius-small: .5rem;
  --border-radius-big: 1rem;
  --title-font-size: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

hr {
  height: 1px;
  border: none;
}

.hr-thick {
  height: 10px;
  border: none;
  border-top: 1px solid var(--text-color);
}

.hr-light {
  height: 10px;
  border: none;
  border-top: 1px solid var(--sub-color);
}


.content-wrapper {
  padding-top: 60px;
  width: 100%;
  display: grid;
  place-items: center;
}

.text-arrow {
  font-size: .5em;
}

.simple-button {
  cursor: pointer;
}

.noselect {
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -khtml-user-select: none;
  /* Old versions of Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  user-select: none;
}

.my-htmx-indicator {
  /*
  display: none;
  */
  width: 100%;
  height: 100%;
  color: orange;
  font-size: 3em;
}

.htmx-request .my-htmx-indicator {
  display: block;
  opacity: 0.7;
}

.htmx-request.my-htmx-indicator {
  display: block;
  opacity: 0.7;
}




/* test 2*/

/*
.sortable-container {
  margin-top: 5em;
  display: grid;
  width: 80%;
  gap: 10px;
}

.sortable {
  background: black;
  border: 1px solid white;
  width: 100%;
  height: 100px;
  display: flex;
  padding: 1em;
  gap: 1em;
}

.sortable-element {
  background: coral;
  color: black;
  cursor: grab;
  display: grid;
  width: 200px;
  align-content: space-evenly;
}
*/


/* test 3*/

.sortable-container {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1fr 10fr 10fr;
  grid-template-columns: 1fr 10fr;
  width: 80%;
  gap: 10px;
}

.sortable-element {
  background: coral;
  color: black;
  cursor: grab;
  display: grid;
  width: 90%;
  height: 100px;
  align-content: space-evenly;
}

.sortable-element-empty {
  background: black;
  color: white;
  color: black;
  width: 90%;
  height: 100px;
}


.sortable-column-container {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
}

.sortable-time-container {
  background: orange;
  color: black;

}

.sortable-task-container {
  background: black;
  color: white;
}

.sortable-swap-highlight {
  background-color: #f0f0f0;
}