<div class="transactions-col">
{% if args.ascending == True %}
    <div hx-post="/transactions" hx-swap="outerHTML" hx-target="#transactions-table" hx-vals='{"sort_by": "{{ args.postValue }}", "ascending": false}' class="simple-button">
        {{ args.buttonName }}
        <i class='text-arrow bx bxs-down-arrow'></i>
    </div>
{% elif args.ascending == False %}
    <div hx-post="/transactions" hx-swap="outerHTML" hx-target="#transactions-table" hx-vals='{"sort_by": "{{ args.postValue }}", "ascending": true}' class="simple-button">
        {{ args.buttonName }}
        <i class='text-arrow bx bxs-up-arrow'></i>
    </div>
{% else %}
    <div hx-post="/transactions" hx-swap="outerHTML" hx-target="#transactions-table" hx-vals='{"sort_by": "{{ args.postValue }}", "ascending": true}' class="simple-button">
      {{ args.buttonName }}
    </div>
{% endif %}
</div>
