<div class="transactions-table" id="transactions-table">

  <div class="transactions-row-main">
    {% include "/transactionsRoute/transactionsTableHeader.jinja" %}
  </div>

  {% for transaction in transactions %}
  <div class="transactions-row">
    <div class="transactions-col">{{ transaction.customer.name }}</div>
    <div class="transactions-col">{{ transaction.amount }}$</div>
    <div class="transactions-col">{{ transaction.date }}</div>
  </div>
  {% endfor %}
</div>
