<div class="nav-bar">
  <ul class="nav-bar-items-container">
    <li class="nav-bar-item"><a class="nav-bar-link  nav-bar-link-active" href="#home">Home</a></li>
    <li class="nav-bar-item"><a class="nav-bar-link" href="#news">News</a></li>
    <li class="nav-bar-item"><a class="nav-bar-link" href="#contact">Contact</a></li>
    <li class="nav-bar-item"><a class="nav-bar-link" href="#about">About</a></li>
  </ul>
</div>